$purple: #635fc7;
$purplehover: #a8a4ff;
$black: #000112;
$verydarkgrey: #20212c;
$darkgrey: #2b2c37;
$linesdark: #3e3f4e;
$medgrey: #828fa3;
$lineslight: #e4ebfa;
$lightgrey: #f4f7fd;
$white: #ffffff;
$red: #ea5555;
$redhover: #ff9898;
